html{
  scroll-behavior: smooth;
}

.header {	
  
  padding: 80px;
  text-align: center;
  background-image: url(img/dark.jpg);
  background-size: cover;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto;
}

body{
	background-color: #000000;
}

.header h1 {
  font-size: 40px;
}


#mySidenav a {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0; 
}


#rumah {
  top: 240px;
  background-color: #9900cc;
}
#about {
  top: 300px;
  background-color: #4CAF50;
}

#skill {
  top: 360px;
  background-color: #2196F3;
}

#projects {
  top: 420px;
  background-color: #f44336;
}

#contact {
  top: 480px;
  background-color: #555 
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.translate {width: 90%; background-color: #4CAF50;}
.Photo {width: 90%; background-color: #2196F3;} 
.Design {width: 75%; background-color: #f44336;}
.Web {width: 40%; background-color: #808080;} 

.side {
  flex: 30%;
  background-color:#202020;
  padding: 20px;
  color: white;
}

.main {
  flex: 70%;
  background-color: #404040;
  color: white;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
}

.title {
  color: black;
  font-size: 18px;
}

.gambar{
  width: 20px;
  height: 20px;
}
